<h2>Edit Book</h2>
<!-- action meanning where will work || method POST came from authors.js -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/books">Cancel</a>
    <button type="submit">Update</button>
</form>

