<h2>New Book</h2>
<!-- action meanning where will work || method POST came from authors.js -->
<form action="/books/new" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>

