<!-- Just type '!' and hit enter and you will get basic of html code 
    Thanks for 'express-ejs-layouts' lib, We don't need to copy and paste HTML code into every single files. This file is enough-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>

    <title>Online book shop</title>
</head>
<body>
    <!-- Get Content from partials folder header file -->
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMsg.ejs') %>
    <!-- ( - ) Get every content of other files of views folder into this code Thanks for 'express-ejs-layouts' lib -->
    <%- body %>
</body>
</html>