<!-- This file will be shared between new.ejs & edit.ejs So we created it -->
<label>Name</label>
<!-- ( = ) means get value of author.name & don't use author.name as normal HTML text -->
<input type="text" name="name" value="<%= author.name %>">