<h2>New Author</h2>
<!-- action meanning where will work || method POST came from authors.js -->
<form action="/authors" method="POST">
    <%- include('_form_fields.ejs') %>
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>

